.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.example-page {
  background-image: url("/public/cute-bunny.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  text-align: center;
  justify-content: center;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
}

h1 {
  background-color: yellow;
  color: rgb(9, 92, 9);
  font-size: 50px;
}

button {
  background-color: #0dcd87;
  color: rgb(246, 246, 75);
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 12px;
}

button:hover {
  background-color: #046d42;
  color: white;
  cursor: pointer;
}

.arrow {
  background-color: rgb(195, 200, 195); /* Green background */
  color: rgb(152, 164, 60); /* White text color */
  border: none; /* No border */
  font-size: 24px;
  padding: 15px;
  width: 2em;
  height: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.name {
  margin-top: 5px;
}

a {
  color: #2c1a58;
  text-decoration: none;
}

a:hover {
  color: #030206;
}

.provider-page {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.provider-block {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
  width: 80%;
  height: 80%;
  overflow-y: auto;
  flex-direction: column;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px 3px;
  padding: 30px;
  list-style: none;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
